@import 'compass/reset';
@import 'compass/css3/border-radius';
@import 'compass/css3/transform';

$hot                  : #d5253e;
$body-background      : #f8f8f8;
$default-text-color   : black;

html {
  min-height  : 420px;
  font-size   : 62.5%;
}
body {
  font-size   : 1.5rem;
  line-height : 2.3rem;
  background  : $body-background;
  font-family : 'museo-sans-rounded', 'Helvetica';
  &>* {
    width      : 90rem;
    margin     : 0 auto;
    text-align : center;
  }
}
h1 { 
  font-size      : 5rem;
  font-weight    : 700;
  text-transform : uppercase;
  margin-bottom  : 3.6rem;
}
p {
  margin    : 2.3rem auto;
  font-size : 2.3rem;
  &.smaller { font-size : 1.9rem }
}
h1, p { text-shadow: 1px 1px 0 white }
a { 
  color : $hot;
  // text-decoration :;
  &:visited { color : $hot }
}

footer {
  margin-top : 4.6rem;
  p {
    font-size : 1.9rem;
  }
}

#transpond {
  position : relative;
  height   : 35rem;
  margin-top : 4rem;
}

#tech, #devices, #arrow { 
  position : absolute; 
  top      : 20%;
  color    : $hot;
}

#arrow { 
  @include translate(-50%, 150%, 0);
  left   : 50%;
  height : 5rem; 
  width  : 5rem
}

#tech {
  @include border-radius(9999em);
  @include translate(-125%, 0, 0);
  left       : 50%;
  width      : 20rem;
  height     : 20rem;
  border     : 1rem solid $hot;
  text-align : center;
  li {
    position    : absolute;
    font-size   : 3.6rem;
    font-weight : 700;
  } 
}

#html { top : 25%; left : 27% }
#js   { bottom : 30%; left : 15% }
#css  { bottom : 30%; right : 15% }

#devices {
  @include translate(125%, 50%, 0);
  right      : 50%;
  color      : $hot;  
  text-align : center;
  li {
    display : inline
  }
}

#ipad, #iphone {
  width   : 10rem;
  height  : 10rem;
}