@import 'compass/reset';
@import 'compass/css3/border-radius';

$hot                  : #d5253e;
$body-background      : #f8f8f8;
$default-text-color   : black;

@mixin translate($x, $y) {
  -webkit-transform : translate($x, $y);
  -moz-transform    : translate($x, $y);
  -ms-transform     : translate($x, $y);
  -o-transform      : translate($x, $y);
  transform         : translate($x, $y);
}
@mixin scale($dot) {
  -webkit-transform : scale($dot);
  -moz-transform    : scale($dot);
  -ms-transform     : scale($dot);
  -o-transform      : scale($dot);
  transform         : scale($dot);
}

html {
  min-height : 420px;
  font-size  : 62.5%;
}

body {
  padding : 15% 0;
  font-size   : 1.5rem;
  line-height : 2.6rem;
  background  : $body-background;
  font-family : 'museo-sans-rounded', 'Helvetica';
  overflow-x  : hidden;
  text-align  : center;
  text-shadow: 1px 1px 0 white;
  @media screen and (max-width: 900px) {
    padding : 15% 1.3rem;
  }
}
h1 { 
  font-size      : 5rem;
  font-weight    : 700;
  margin-bottom  : 3.6rem;
}
p {
  margin    : 1.9rem 0;
  font-size : 2.3rem;
}
code {
  padding : 0.1rem 0.25rem;
  background : darken(white, 10%);
  pre & {
    display : block;
    padding : 1rem 2.3rem
  }
}
a { 
  color           : $hot;
  text-decoration : none;
  &:hover   { text-decoration : underline }
  &:visited { color : $hot }
}
header {
  margin-bottom : 9.2rem;
  h1 { margin-top : 2.6rem }
}

body > section {
  width      : 90rem;
  margin     : 0 auto 4.6rem;
  text-align : left;
  h1  { font-size : 3.3rem }
  p   { font-size : 1.9rem }
  @media screen and (max-width : 900px) {
    width : auto;
  }
  @media screen and (max-width : 500px) {
    margin : 0 0 3.3rem;
    h1 { font-size : 3rem; margin-bottom: 1.6rem }
    p  { font-size : 1.6rem }
    pre code {
      padding   : 1rem;
      font-size : 85%;
    }
  }
}
